# crypto-config/*
# ../bafs-fabric-network/*/channel-artifacts
# ../bafs-fabric-network/orderer/channel-artifacts
# ../bafs-fabric-network/bafsorg/channel-artifacts

/bafsorg/channel-artifacts
/orderer/channel-artifacts

.idea
/ktb-artifacts/chaincode



